name: "Code Checks"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  codeql-checks:
    name: CodeQL Analysis
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
    strategy:
      matrix:
        language: [actions, typescript]
    uses: JackPlowman/reusable-workflows/.github/workflows/codeql-analysis.yml@ba8f4841b5b9d41420569f5942ccdaa674d18721 # v2026.02.05.01
    with:
      language: ${{ matrix.language }}

  common-code-checks:
    name: Common Code Checks
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
      pull-requests: write # Allow the workflow to create and modify pull request comments
      security-events: write # Allow the workflow to upload analysis results
    uses: JackPlowman/reusable-workflows/.github/workflows/common-code-checks.yml@ba8f4841b5b9d41420569f5942ccdaa674d18721 # v2026.02.05.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}

  run-typescript-code-checks:
    name: Run TypeScript Code Checks
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Allow the workflow to upload analysis results
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Dashboard Dependencies
        uses: ./.github/actions/setup-dashboard-dependencies
      - name: Run ESLint
        env:
          SARIF_ESLINT_IGNORE_SUPPRESSED: "true"
        run: just dashboard::eslint-with-sarif
        continue-on-error: true
      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
        with:
          sarif_file: dashboard/eslint-results.sarif
          wait-for-processing: true
      - name: Run ESLint
        run: just dashboard::lint

  run-typescript-format-checks:
    name: Run TypeScript Format Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Dashboard Dependencies
        uses: ./.github/actions/setup-dashboard-dependencies
      - name: Run Prettier
        run: just dashboard::prettier-check
