name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  check-pr-title:
    name: Check Pull Request Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read # For reading PR details
    steps:
      - name: Check Pull Request Title
        uses: deepakputhraya/action-pr-title@3864bebc79c5f829d25dd42d3c6579d040b0ef16 # v1.0.2
        with:
          allowed_prefixes: "feat: ,fix: ,bug: ,ci: ,refactor: ,docs: ,build: ,chore(,deps(,chore: ,feat!: ,fix!: ,refactor!: ,test: ,build(deps): " # title should start with the given prefix

  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write # For writing labels and comments on PRs
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@9b05cbf77da4cc8d3238499a28d179c41cbcf6ac # v2026.02.14.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
